{% extends 'base.html' %}
{% block title %}Add Course{% endblock %}
{% block more_text %}Forum{% endblock %}
{% block more_active %}active{% endblock %}
{% block forum_active1 %}active1{% endblock %}
{% block body %}


<h3 class ="text-center text-green" >Discussion Forum</h3>

<div class="panel">
  <div class = "col-md-11">
    <div class="panel-body">
      <div class="row pb-1">
        <div class="col-md-12">
          <input type="text" id="topic" name="topic" class="form-control" placeholder="Write the title of your topic" >
        </div>
      </div>
      <br>
      <textarea class="form-control" rows="3" placeholder="Provide Supporting Details or Context"></textarea>
      <br>
      <div class="mar-top clearfix">
        <button class="btn btn-lg btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        <br>
      </div>
    </div>
  </div>
</div>
<br>


{% for ques in forumset %}

<div class="container">
  <div class="row">
      <div class="col-md-10">
          <div class="post-content">
            <div class="post-container">
              
              <div class="post-detail">
                <div class="user-info">
                  <h5><a href="#" class="profile-link">{{ques.6}}</a> <span class="following">following</span></h5>
                  <p class="text-muted">Published a post on {{ques.3}}</p>
                </div>
                <div class="reaction">
                  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 13</a>
                </div>
                <div class="line-divider"></div>
                <div class="post-text">
                  <p>{{ques.2}}<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                </div>
                <div class="line-divider"></div>
                <div class="post-comment">
                  <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                </div>
                <div class="post-comment">
                  
                  <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                </div>
                <div class="post-comment">
                  
                  <input type="text" class="form-control" placeholder="Post a comment">
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>


{% endfor %}





{% endblock %} 