{% extends 'base.html' %}
{% block title %}All Classes{% endblock %}

{% block courses_active %}active{% endblock %}
{% block courses_active1 %}active{% endblock %}
{% block body %}


{% load static %}

<h1>Classes</h1>
<ul class="list-group list-group-flush mydiv">
{% for course_class in classes %}
<li class="list-group-item list-group-item-action">
<div class="row  mydiv " onclick="window.location='{% url 'courses:all_courses' course_class %}';" style="cursor:pointer;">
    <div class="col-md-1">

        <img src="{% static 'images/class.JPG'%}" width="70px" style="border-radius: 50%;">

    </div>
    <div class="col-md-10" style="padding-top: 10px;">
       
                <h4 style="color:#069">class {{course_class}}</h4>
           

    </div>
    </div>
</li>
{% endfor %}
</ul>


{% endblock %} 