
<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}



{% block home_active %}active{% endblock %}

{% block body %}

{% load static %}
<style>
	.grey-box-icon
	{
		background-color:rgba(17, 51, 80, 0.616);
		color: aliceblue;
		text-align: center;
		
		padding-top: 20px;
		padding-left: 5px;
		padding-bottom: 5px;
		padding-right: 5px;
		height: 400px;
	}
	
</style>


  <div style = "padding-top:50px">
	<div class="row">
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="{% static 'images\1.png' %}" style="height: 140px;border-radius: 50%">
				</div><!--icon box top -->
				<h4>Online Courses</h4>
				<p>Online courses for students from grade 1 to grade 12. Multiple contributors in a single course !</p>
				 
			</div><!--grey box -->
		</div><!--/span3-->
		
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="{% static 'images\2.png' %}" style="height: 140px;border-radius: 50%" />
				</div><!--icon box top -->
				<h4>Video Tutorials</h4>
				<p>Explanatory video tutorials. </p>
				 
			</div><!--grey box -->
		</div><!--/span3-->
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="{% static 'images\mcq.jpg' %}" style="height: 140px;border-radius: 50%"/>
				</div><!--icon box top -->
				<h4>MCQ Exams</h4>
				<p>Give exam on a topics after completing some contents. All questions are multiple choice type.</p>
				
			</div><!--grey box -->
		</div>
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="{% static 'images\3.png' %}" style="height: 140px;border-radius: 50%" />
				</div><!--icon box top -->
				<h4>Forum</h4>
				<p>An open platform for all students to ask about their points of interests. Teachers or other students may answer them</p>
				
			</div><!--grey box -->
		</div><!--/span3-->
<!--/span3-->
	</div>
    
    </div>

      {% endblock %}