{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}
{% block noti_active %}active{% endblock %}


{% block body %}
{% load static %}

<div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50px;">{{error}}</div>
    {% endif %}
    
</div>



<div class="container" style = "padding-top:20px">
	<div class="row" style="padding-bottom: 30px;">
		<div class="col-md-4">
			
		</div>
		
		<div class="col-md-4">
            <div class="container-fluid" style="text-align: center;">
             
                <div >
                   <h3><a href="{% url 'accounts:notifications'%}">Notifications</a></h3>
                   
                </div>
                
               
            </div>
		</div>



    </div>
</div>

    
    <ul class="list-group list-group-flush mydiv" >
        <h5>Not Seen<a href="" style="float:right">Delete All</a></h5>
        {% if not unseen_comments and not unseen_post and not unseen_replies %}
           
        Nothing Left
            
        {% endif %}
    {% for comment in unseen_comments %}

    <li class="list-group-item list-group-item-action" onclick="window.location='{% url 'courses:show_video' comment.0 %}';"> {{comment.3}}&nbsp;new&nbsp;comments&nbsp;in&nbsp;{{comment.1}}</li>
  
    {% endfor %}
    </ul>

    <ul class="list-group list-group-flush mydiv" >
        {% for reply in unseen_replies %}
    
            <li class="list-group-item list-group-item-action" onclick="window.location='{% url 'forum:ques_details' reply.0 %}';"> 1&nbsp;new&nbsp;reply&nbsp;in&nbsp;your post by {{reply.1}}</li>
      
        {% endfor %}
    </ul>

    <ul class="list-group list-group-flush mydiv" >
    {% for post in unseen_post %}

        <li class="list-group-item list-group-item-action" onclick="window.location='{% url 'forum:main' %}';"> 1&nbsp;new&nbsp;post&nbsp;in&nbsp;forum on {{post.1}}: {{post.0}}</li>
  
    {% endfor %}
    </ul>

    <ul class="list-group list-group-flush mydiv" style="padding-top: 30px;">
        <h5>Seen<a href="" style="float:right">Delete All</a></h5>
        {% if not seen_comments %}
        Nothing Left
        {% endif %}
    {% for comment in seen_comments %}

    <li class="list-group-item list-group-item-action" onclick="window.location='{% url 'courses:show_video' comment.0 %}';"> {{comment.3}}&nbsp;comments&nbsp;in&nbsp;{{comment.1}}</li>
  
    {% endfor %}
    </ul>
    














{% endblock %}