{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}
{% block noti_active %}active{% endblock %}


{% block body %}
{% load static %}

<div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50px;">{{error}}</div>
    {% endif %}
    
</div>



<div class="container" style = "padding-top:20px">
	<div class="row" style="padding-bottom: 30px;">
		<div class="col-md-4">
			
		</div>
		
		<div class="col-md-4">
            <div class="container-fluid" style="text-align: center;">
             
                <div >
                   <h3><a href="{% url 'accounts:notifications'%}">Notifications</a></h3>
                   
                </div>
                
               
            </div>
		</div>



    </div>
</div>

    
    <ul class="list-group list-group-flush mydiv" >
        <h5>Not Seen<a href="{% url 'accounts:seen_notifications' %}" style="float:right">mark all as seen</a></h5>
        {% if not unseen_comments %}
        Nothing Left
        {% endif %}
    {% for comment in unseen_comments %}

    <li class="list-group-item list-group-item-action" onclick="window.location='{% url 'courses:show_video' comment.0 %}';"> {{comment.3}}&nbsp;new&nbsp;comment(s)&nbsp;in&nbsp;{{comment.1}}</li>
  
    {% endfor %}
    </ul>

    <ul class="list-group list-group-flush mydiv" style="padding-top: 30px;">
        <h5>Seen<a href="{% url 'accounts:delete_notifications' %}" style="float:right">Delete All</a></h5>
        {% if not seen_comments %}
        Nothing Left
        {% endif %}
    {% for comment in seen_comments %}

    <li class="list-group-item list-group-item-action" onclick="window.location='{% url 'courses:show_video' comment.0 %}';"> {{comment.3}}&nbsp;comment(s)&nbsp;in&nbsp;{{comment.1}}</li>
  
    {% endfor %}
    </ul>
    














{% endblock %}