{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

  
{% block body %}

<div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}
    
</div>

{{role}}

<br>
{{name}}
<br>
{% if role == 'teacher' %}
    <h1>Courses</h1>
    <a href="{% url 'courses:add_course'%}">Add Course</a>
    <ul>
    {% for course in courses %}

        <li><a href="{% url 'courses:course_contents' course.0 %}">{{ course.1 }} Class {{course.2}}</a></li>

    {% endfor %}
    </ul>
    

<!--id-->
{% else %}
<a href="{% url 'courses:all_courses_student' userid %}">My Courses</a>
{% endif %}

{% endblock %}