{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block more_text %}Edit Account {% endblock %}
{% block more_active %}active{% endblock %}
{% block settings_active1 %}active1{% endblock %}
{% block body %}



<form class="form-settings" action="{% url 'accounts:settings'%}" method="POST" >

  {% csrf_token %}
  <div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}
  

    <div class="row pb-3 pt-5">

      <div class="col-md-4">
    <div class="text-center mb-4"><h1 class="h3 mb-3 font-weight-normal" >Edit Account</h1></div>
  
      </div>
    </div>
    

  
    <div class="row pb-3" >
      <div class="col-md-6">
        <label for="username">Username</label> 
        <input type="text" id="username" name="username" class="form-control" value = {{name}}>
      
      </div>
      </div>
   
    
    <div class="row pb-3" >
    <div class="col-md-6">
      <label for="useremail" >Email address</label> 
      <input type="text" id="useremail" name="useremail" readonly class="form-control-plaintext" value = {{usermail}}  required autofocus>
    
    </div>
    </div>
    
    <div class="row pb-3">
  
      <div class="col-md-6">
  
        <label for="password" >Password</label>
        <input type="password" name="password" id="password" class="form-control"  placeholder="Password" required>
      </div>
      
    </div>

    <div class="row pb-3">
  
      <div class="col-md-3">
  
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" class="form-control" >
  
      </div>

      <div class="col-md-3">
  
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" >
      
      </div>
      
    </div>
    
    
   
    
    <div class="row  pt-3" >
      
      <div class="col-md-6" >
      
       
    <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Update Profile</button> 
      </div>
    </div>

  </div>
 
  </form>                          
  





{% endblock %}