{% extends 'base.html' %}
{% block title %}Add Exam{% endblock %}
{% block body %}

{% if examinfo %}
<form class="form-settings" action="{% url 'courses:add_ques' examinfo.2 %}" method="POST" >

  {% csrf_token %}
  <div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}

      <h2 class="text-center">{{examinfo.0}}</h2>
      <h6 class="text-center">{{examinfo.1}}</h6>

      <div class="row pb-3" >
        <div class="col-md-9">
          <label for="questiontitle">Question Title </label> 
          <input type="text" id=" qestiontitle" name="questiontitle" class="form-control" required >
        
        </div>
      </div>

      <div class="row pb-3" >
        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
          <label for="option1">Option 1 </label> 
          <input type="text" id="option1" name="option1" class="form-control" required >
        
        </div>

        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
          <label for="option1">Option 2 </label> 
          <input type="text" id="option2" name="option2" class="form-control" required >
        
        </div>


        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3">
          <label for="option1">Option 3 </label> 
          <input type="text" id="option3" name="option3" class="form-control" required >
        
        </div>


        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4">
          <label for="option1">Option 4 </label> 
          <input type="text" id="option4" name="option4" class="form-control" required >
        
        </div>

      </div>
        
      <div class="row  pt-3" >
      
        <div class="col-md-6" >
          <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Add This Question</button> 
        </div>
      </div>
  </div>
 
</form>
<ul>
{% for ques in ques_list %}
    <div class="row  pt-3" >
        <div class="col-md-12" >
          <input type="text" id="question" name="question" class="form-control" value = {{ques.0}}>
        </div>
    </div>
    <div class="row  pt-3" >
      <div class="col-md-3" >
        <input type="text" id="ans1" name="ans1" class="form-control" value = {{ques.1}}>
      </div>

      <div class="col-md-3" >
        <input type="text" id="ans1" name="ans1" class="form-control" value = {{ques.2}}>
      </div>

      <div class="col-md-3" >
        <input type="text" id="ans1" name="ans1" class="form-control" value = {{ques.3}}>
      </div>

      <div class="col-md-3" >
        <input type="text" id="ans1" name="ans1" class="form-control" value = {{ques.4}}>
      </div>
    </div>
    <div class="row  pt-3" >
      <div class="col-md-3" >
        <a href="" class="btn btn-lg btn-outline-primary btn-block mb-5"><span class="oi oi-pencil"></span> Edit</a>
      </div>
       
      <div class="col-md-3" >
        <a href="" class="btn btn-lg btn-outline-primary btn-block mb-5">Delete</a>
      </div>
    </div>
 
       
{% endfor %}
</ul>

{% else %}
<form class="form-settings" action="{% url 'courses:add_exams' course_id topic_id %}" method="POST" >

  {% csrf_token %}
  <div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}

    
    
  
    <div class="row pb-3" >
      <div class="col-md-9">
        <label for="title">Exam Title</label> 
        <input type="text" id="title" name="title" class="form-control" required >
      
      </div>
    </div>

    <div class="row pb-3" >
      <div class="col-md-9">
        <label for="details">Description to go with the exam</label> 
        <input type="text" id="details" name="details" class="form-control" required >
      
      </div>
    </div>

    <div class="row  pt-3" >
      
      <div class="col-md-6" >
        <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Add Questions</button> 
      </div>
    </div>    

  </div>
 
</form>
{% endif %}                           
  


{%endblock%}