{% extends 'base.html' %}
{% block title %}Add Exam{% endblock %}
{% block body %}

{% if examinfo %}

<form class="form-settings" name = "addQues" action="{% url 'courses:add_ques' examinfo.2 %}" method="POST" >

  {% csrf_token %}
  <div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}

      <h2 class="text-center">{{examinfo.0}}</h2>
      <h6 class="text-center">{{examinfo.1}}</h6>

      <div class="row pb-3" >
        <div class="col-md-9">
          <label for="questiontitle">Question Title </label> 
          <input type="text" id=" qestiontitle" name="questiontitle" class="form-control" required >
        
        </div>
      </div>

      <div class="row pb-3" >
        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
          <label for="option1">Option 1 </label> 
          <input type="text" id="option1" name="option1" class="form-control" required >
        
        </div>

        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
          <label for="option1">Option 2 </label> 
          <input type="text" id="option2" name="option2" class="form-control" required >
        
        </div>


        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3">
          <label for="option1">Option 3 </label> 
          <input type="text" id="option3" name="option3" class="form-control" required >
        
        </div>


        <div class="col-md-3">
          <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4">
          <label for="option1">Option 4 </label> 
          <input type="text" id="option4" name="option4" class="form-control" required >
        
        </div>

      </div>
        
      <div class="row  pt-3" >
      
        <div class="col-md-6" >
          <button class="btn btn-primary btn-lg"  type="submit">Add This Question</button> 
        </div>
      </div>
  </div>
 
</form>
<ul>
  <br>

  
<h3>Questions</h3>
{% for ques in ques_list %}
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header text-center">
              
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
          </div>
          <div class="modal-body mx-3">
              <h5 class="modal-title w-100 font-weight-bold"  style="text-align:center">Delete this question permanently?</h5>
              <form class="form-settings" action="{% url 'courses:del_ques' examinfo.2 ques.6 %}" method="POST">
              {% csrf_token %}
              
              
              <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-info btn-sm" type="submit">Confirm</button> 
                  
              </div>
            </form>

          </div>
          
      </div>
  
  </div>
</div>  
<form class="form-settings" action="{% url 'courses:edit_ques' examinfo.2 ques.6  %}" method="POST" >

  {% csrf_token %}
  <div class="card-body tab-content" style="background-color: #F8F9F9 ;">

    <div class="row pb-1" >
      <div class="col-md-9">
        <input type="text" id="questitle" name="questitle" class="form-control" value = '{{ques.0}}'>
      </div>

      <div class="float-right" >
        <span class="align-right"><a href="" class="btn btn-lg btn-outline-primary btn-default mb-5" data-toggle="modal" data-target="#modalSubscriptionForm">Delete</a></span>
      </div>
    </div>
   
    
    <div class="row pb-3" >
      <div class="col-md-3">
        {% if ques.5 == 'option1' %}
        <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
        {% else %}
          <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1">
        {% endif %}
        <input type="text" id="option1" name="option1" class="form-control" value = '{{ques.1}}'>
      </div>

      <div class="col-md-3">
        {% if ques.5 == 'option2' %}
          <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2" checked>
        {% else %}
          <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
        {% endif %}
        <input type="text" id="option2" name="option2" class="form-control" value = '{{ques.2}}'>
      </div>

      <div class="col-md-3">
        {% if ques.5 == 'option3' %}
        <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3" checked>
        {% else %}
        <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3">
        {% endif %}
        <input type="text" id="option3" name="option3" class="form-control" value = '{{ques.3}}'>
      </div>

      <div class="col-md-3">
        {% if ques.5 == 'option4' %}
        <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4" checked>
        {% else %}
        <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4">
        {% endif %}
        <input type="text" id="option4" name="option4" class="form-control" value = '{{ques.4}}'>
      </div>
    </div>    
    
    <div class="row  pt-3" >
      <div class="col-md-6" >
        <button class="btn btn-lg btn-outline-primary btn-default mb-5" type="submit"><span class="oi oi-pencil"></span>Modify</button> 
      </div>
    </div>

  </div>
 
</form>            
{% endfor %}
</ul>

{% else %}
<form class="form-settings" action="{% url 'courses:add_exams' course_id topic_id %}" method="POST" >

  {% csrf_token %}
  <div class="container " style="background-color: #F8F9F9 ;">

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}

    
    
  
    <div class="row pb-3" >
      <div class="col-md-9">
        <label for="title">Exam Title</label> 
        <input type="text" id="title" name="title" class="form-control" required >
      
      </div>
    </div>

    <div class="row pb-3" >
      <div class="col-md-9">
        <label for="details">Description to go with the exam</label> 
        <input type="text" id="details" name="details" class="form-control" required >
      
      </div>
    </div>

    <div class="row  pt-3" >
      
      <div class="col-md-6" >
        <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Add Questions</button> 
      </div>
    </div>    

  </div>
 
</form>
{% endif %}                           
  


{%endblock%}