{% extends 'base.html' %}
{% block title %}Add Course{% endblock %}
{% block add_course_active %}active{% endblock %}
{% block add_course_active1 %}active1{% endblock %}
{% block body %}



<form class="form" action="{% url 'courses:add_course'%}" method="POST" >

  {% csrf_token %}
  <div class="container " >

    {% if error %}
    <div style="padding-top: 50px;"></div>
    <div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
    {% endif %}
  

    <div class="row pb-3 pt-5" style="padding-left: 400px;">

      <div class="col-md-4">
    <div class="text-center mb-4"><h1 class="h3 mb-3 font-weight-normal" >Add Course</h1></div>
  
      </div>
    </div>




    <div class="row pb-3" style="padding-left: 340px;">
      <div class="col-md-6">
        <input type="text" id="course_title" name="course_title" class="form-control" placeholder="Course Title" required autofocus>
      <label for="course_title" class="sr-only">Course Title</label>
      </div>
    </div>

    <div class="row pb-3" style="padding-left: 340px;">
        <div class="col-md-6">
          <select class="custom-select" id="class" name="class">
            <option selected>Choose Class...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12e</option>
            
          </select>
        </div>
      </div>

      <div class="row pb-3" style="padding-left: 340px;">
        <div class="col-md-6">
          <input type="text" id="course_description" name="course_description" class="form-control" placeholder="Course Description" autofocus>
        <label for="course_description" class="sr-only">Course Description</label>
        </div>
      </div>

    <div class="row  pt-3" style="padding-left: 340px;">
      
        <div class="col-md-6" >
        
         
      <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Add The Course !</button> 
        </div>
      </div>
  </div>
 
  </form>
  





{% endblock %} 