{% extends 'base.html' %}
{% block title %}All Courses{% endblock %}
{% block courses_active %}active{% endblock %}
{% block courses_active1 %}active{% endblock %}
{% block body %}
{% load static %}

<a href ="{% url 'accounts:course_classes' %}"><span class="oi oi-arrow-left"></span>Back</a>



<h1>courses of class {{course_class}}</h1>
<ul class="list-group list-group-flush mydiv">
{% for course in courses %}
<li class="list-group-item list-group-item-action">
<div class="row  mydiv "onclick="window.location='{% url 'courses:course_topics_student' course.0 %}';" style="cursor:pointer;" >
    <div class="col-md-1">
        <img src="{% static 'images/course.png'%}" width="80px" style="border-radius: 50%;">
    </div>
    <div class="col-md-10" style="padding-top: 10px;">
        <div class="row  pt-2" >
            <div class="col-6">
                <h4 style="color:#069">{{course.1}}</h4>
            </div>

        </div>
        {% if course.3 %}
        <div class="row  pt-2" >
            <div class="col-6">
                <h6 style="color:#069">{{course.3}}</h6>
            </div>

        </div>
        {% endif %}

    </div>
  
    </div>

    
</li>
{% endfor %}
</ul>


{% endblock %} 