{% extends 'base1.html' %}
{% block title %}Enroll Courses{% endblock %}
{% block enroll_course_active %}active{% endblock %}
{% block enroll_course_active1 %}active1{% endblock %}
{% block body %}
<a href ="{% url 'accounts:profile' %}"><span class="oi oi-arrow-left"></span>Back</a>
<br>



<h4>Available Courses</h4>
<div class="container">
<h5>From Your Class:</h5>
{% if not available_courses_from_class %}
No course available to enroll from your class...
{% endif %}

<ul>
    {% for course in available_courses_from_class %}

    <div class="modal fade" id="test{{course.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body mx-3">
                    <h5 class="modal-title w-100 font-weight-bold"  style="text-align:center">Enroll Into This Course ?</h5>
                    <form class="form-settings" action="{% url 'courses:enroll_course' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="course_id" value="{{course.0}}" name="course_id" class="form-control" placeholder="Course ID">
                    
                    
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-info btn-sm" type="submit">Confirm</button> 
                        
                    </div>
                  </form>
      
                </div>
                
            </div>
        
        </div>
      </div> 


    <div class="row  pt-3  mydiv " >
        
        <div class="col-md-12"  onclick="window.location='{% url 'courses:course_topics_student' course.0 %}';" style="cursor:pointer;">
            <div class="row  pt-2" >
                <div class="col-6">
                    <h4 style="color:#069">{{course.1}}</h4>
                </div>

            </div>
            
            <div class="row  pt-2" >

                <div class="col-6">
                    {% if course.3 != None%}
                
                      <h6  style="color:rgb(84, 142, 171)">{{course.3}}</h6>
         
                    {% endif %}
                </div>
              
            </div>

            
        </div>

        <div class="col-md-3" >
            <a href="#test{{course.0}}" class= "btn btn-lg btn-outline-primary btn-block" data-toggle="modal">Enroll</a>
        </div><br><br>


           
    </div>


    {% endfor %}
    </ul>

</div>

<div class="container">
<br><br>
    <h5>From Other Classes:</h5>
{% if not available_courses_from_others %}
No course available to enroll from other classes...
{% endif %}

<ul>
    {% for course in available_courses_from_others %}

    <div class="modal fade" id="test{{course.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body mx-3">
                    <h5 class="modal-title w-100 font-weight-bold"  style="text-align:center">Enroll Into This Course ?</h5>
                    <form class="form-settings" action="{% url 'courses:enroll_course' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="course_id" value="{{course.0}}" name="course_id" class="form-control" placeholder="Course ID">
                    
                    
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-info btn-sm" type="submit">Confirm</button> 
                        
                    </div>
                  </form>
      
                </div>
                
            </div>
        
        </div>
      </div> 


    <div class="row  pt-3  mydiv " >
        
        <div class="col-md-12"  onclick="window.location='{% url 'courses:course_topics_student' course.0 %}';" style="cursor:pointer;">
            <div class="row  pt-2" >
                <div class="col-6">
                    <h4 style="color:#069">{{course.1}}</h4>
                </div>

            </div>
            
            <div class="row  pt-2" >
                <div class="col-6">
                    {% if course.3 != None%}
                
                      <h6  style="color:rgb(84, 142, 171)">{{course.3}}</h6>
         
                    {% endif %}
                </div>
                
                <div class="col-6">
                    <h6>Class {{ course.2 }}</h6>
                </div>

               

                
              
   
              
            </div>

            
        </div>

        <div class="col-md-3" >
            <a href="#test{{course.0}}" class= "btn btn-lg btn-outline-primary btn-block" data-toggle="modal">Enroll</a>
        </div><br><br>


           
    </div>


    {% endfor %}
    </ul>
</div>  
<!--
<ul>
{% for course in available_courses %}

    <li><a href="{% url 'courses:course_topics_student' course.0 %}">{{ course.1 }}</a>
        <form class="form-enroll_course" action="{% url 'courses:enroll_course' %}" method="POST" >
            {% csrf_token %}
            <input type="hidden" id="course_id" value="{{course.0}}" name="course_id" class="form-control" placeholder="Course ID">
            <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Add The Course !</button> 
        </form>
    </li>

{% endfor %}
</ul>
-->


{% endblock %} 