{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}

<h1>{{exam.1}}</h1>


<form class="form-settings" name = "give_exam" action="" method="POST" >
{% csrf_token %}
    <div class="container " style="background-color: #F8F9F9 ;">

        <ol>
        {% for question in questions %}
        <li>
        <h4>{{question.1}}</h4>

        <div class="row pb-3" >
            <div class="col-md-3">
            <input class="form-check-input" type="radio" name="option"+str({{question.0}}) id="option1" value="option1" checked >
            <label for="option1">{{question.2}}</label> 
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="option"+str({{question.0}}) id="option2" value="option2" checked>
                <label for="option2">{{question.3}}</label> 
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="option"+str({{question.0}}) id="option3" value="option3" checked>
                <label for="option3">{{question.4}}</label> 
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="option"+str({{question.0}}) id="option4" value="option4" checked>
                <label for="option4">{{question.5}}</label> 
            </div>
        </div>


        </li>


        {% endfor %}
        </ol>
    </div>
</form>

{% endblock %} 