{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}

{% block body %}

{% if error %}
<div style="padding-top: 50px;"></div>
<div class="alert alert-danger" style="padding-left: 400px;padding-top: 50;">{{error}}</div>
{% endif %}

<h1>{{exam.1}}</h1>


<form class="form-settings" name = "give_exam" action="{% url 'courses:give_exam' content_id %}" method="POST" >
{% csrf_token %}
{% if error %}
    <fieldset disabled="disabled">
{% endif %}
    <div class="container " style="background-color: #F8F9F9 ;">

        <ol>
        {% for question in questions %}
        <li>
        <h4>{{question.1}}</h4>

        <div class="row pb-3" >
            <div class="col-md-3">
            <input class="form-check-input" type="radio" name="q{{question.0}}" id="option1" value="option1"  >
            <label for="option1">{{question.2}}</label> 
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="q{{question.0}}" id="option2" value="option2" >
                <label for="option2">{{question.3}}</label> 
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="q{{question.0}}" id="option3" value="option3" >
                <label for="option3">{{question.4}}</label> 
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="q{{question.0}}" id="option4" value="option4" >
                <label for="option4">{{question.5}}</label> 
            </div>
        </div>


        </li>


        {% endfor %}
        </ol>

        <div class="row  pt-3" >
      
            <div class="col-md-6" >
              <button class="btn btn-primary btn-lg"  type="submit">Submit Answer</button> 
            </div>
          </div>
          <div class="row  pt-3" >
      
            <div class="col-md-6" >
                <form class="form-give_exam" action="{% url 'courses:next_content_student' content_id %}" method="POST" >
                    {% csrf_token %}
                    <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">Go To Next</button> 
                </form>
            </div>
          </div>
        
    </div>
{% if error %}
</fieldset>
{% endif %}
</form>


{% endblock %} 