{% extends 'base.html' %}
{% load embed_video_tags %}
{% block title %}{% endblock %}
{% block body %}
<center>
<h1>{{video.0}}</h1>
<h2>{{video.1}}</h2>
<h3>{{video.2}}</h3>
<p>{{video.3}}</p>
{% video video.4 'medium'%}

<div >
    <div class="col-md-6" >
        <form class="form-show_video" action="{% url 'courses:next_content_student' video.5 %}" method="POST" >
            {% csrf_token %}
            
            <button class="btn btn-lg btn-outline-primary btn-block mb-5" type="submit">DONE</button> 
        </form>
    </div>
  </div>

</center>


{% endblock %} 